.ranking-area {
    padding: 1.5em;
	.rank-table {
		width: 80%;
		margin: 0 auto;
		&.rank-th {
			width: 100px;
		}
		.rank-name {
			display: flex;
			align-items: center;
			.material-icons {
				margin-right: 6px;
			}
		}
	}
}