.status-bar {
	height: 120px;
	margin-top: 6px;
	display: flex;
	align-items: center;
	font-weight: 400;
	padding: 1em;
	font-size: 24px;
	.lv-panel {
		width: 100px;
		.label{

		}
		.value {
			font-size: 32px;
			font-weight: 500;
		}
	}
	.name-panel {
		width: 260px;
		margin-right: 20px;
		.name {
			margin-bottom: 4px;
			font-weight: 500;
			display: flex;
			align-items: center;
			.edit {
				margin-left: 14px;
				cursor: pointer;
			}
		}
		.name-input {
			display: none;
		}
		.job {
			font-size: 16px;
			padding-left: 2px;
		}
	}

	.graph-panel {
		width: 160px;
		display: flex;
		align-items: center;
		.graph-info {
			margin-right: 10px;
		}
		.graph-bar {
			width: 100px;
			height: 6px;
			background-color: rgba(93, 90, 90, 0.22);
			position: relative;
			.value-bar {
				top: 0;
				left: 0;
				height: inherit;
				&.exp-bar {
					background-color: #ffed31;
					width: 0;
				}
			}
				
		}
	}
}